#quiz-card {
    height: 32rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#score {
    height: 1.5rem;
    text-align: center;
}

#flag {
    max-height: 18rem;
    max-width: 32rem;
}

#flag-div {
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

#flag-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#card-bod {
    height: 8rem;
}

#hint-frame {
    height: 2rem;
}

#feedback-form-frame {
    height: 6rem;
}
