{% extends "base_menu.html" %}
{% load static %}


{% block content %}
<div class="container">


    {% if user.is_staff %}


    {% else %}
    <h1 id="page-heading" class="pb-2">Choose a quiz</h1>

    <div id="msg" class="text-danger fw-bold fs-5 px-5"></div>

    <div id="quiz-card" class="container" hidden="true">
        <div class="card mb-3 pt-2 bg-secondary border-light">
            <p id="score" class="pb-3 fs-5 fw-bold text-light"></p>
        </div>

        <div id="flag-div" class="card card-img-top bg-light hover-overlay border-light" 
            data-mbd-ripple-init data-mdb-ripple-color="light">
            <img id="flag" class="card-img-top" src="" alt="guess">
        </div>
    
        <div id="card-bod" class="container bg-light border-light">
            <div id="hint-frame" class="ps-2 my-1">
                    <p id="hint-text"></p>
            </div>
            <div id="feedback-form-frame">
                <div id="feedback" hidden="true" class="row py-2">
                    <div class="col-9">
                        <p id="feedback-text" class="ps-2 fs-5 fw-bold"></p>
                    </div>
                    <div class="col-3">
                        <a id="start" class="btn btn-success" href="#">Start</a>
                    </div>
                </div>

                <form id="quiz-form" action="" class="row py-2" hidden="true" autocomplete="off">
                    <div class="col-9">
                        <input id="answer" class="form-control" type="text" 
                            name="answer" placeholder="Enter country" value="" autofocus >
                    </div>
                    <div class="col-3">
                        <input id="submit" class="btn btn-success form-control" 
                        type="button" value="Submit">
                    </div>       
                </form>
            </div>
        </div>
    </div>
    {% endif %}


</div>
{% endblock %}


{% block script %}
    {% if user.is_staff %}{% else %}
        <script src="{% static 'flags.js' %}"></script>
    {% endif %}
{% endblock %}
