{% extends "base_bootstrap.html" %}
{% load static %}
<!--% load app_tags % <!-- see home/templatetags/app_tags.py -->

{% block navbar %}
<ul class="nav nav-tabs flex-column flex-sm-row bg-light">
    <li class="flex-sm-fill text-sm-center nav-item">
        <a id="home-link" class="nav-link link-style active" href="{% url 'index' %}">Home Menu</a>
    </li>
    {% if user.is_staff %}
    <li class="flex-sm-fill text-sm-center nav-item">
        <a id="manage_content" href="{% url 'manage_content' %}" 
            class="nav-link link-style" role="button">
            Manage Content</a>
    </li>
    <li class="flex-sm-fill text-sm-center nav-item dropdown">
        <a id="dropdown"  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
            aria-expanded="false">
            <img id="gravatar" class="rounded-3" 
            {% comment %} TODO fix the gravatar user|gravatar:60 {% endcomment %}
                src=""  
                />{{ user.username }}<strong class="caret"></strong>
        </a>
        <ul class="dropdown-menu bg-light">
             <li class="dropdown-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input class="dropdown-item link-style" type="submit" value="Logout">
                <form>
            </li>
        </ul>
    </li>
    {% else %}
    <li class="flex-sm-fill text-sm-center nav-item">
        <a id="flag-quiz" class="nav-link link-style" href="#">
            Flag quiz</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block script %}{% endblock %}