{% extends "base_bootstrap.html" %}
{% load static %}
<!--% load app_tags % <!-- see home/templatetags/app_tags.py -->

{% block navbar %}
{% url 'index' as x %}
<ul class="nav nav-tabs flex-column flex-sm-row bg-light">
    
    {% if user.is_staff %}
    <li class="flex-sm-fill text-sm-center nav-item">
        <a id="manage-content" href="" class="nav-link link-style active">
            Manage Content</a>
    </li>
    <li class="nav-item">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary nav-link">Logout</button>
        </form>
    </li>


    {% else %}
    <li class="flex-sm-fill text-sm-center nav-item">
        <a id="home-link" class="nav-link link-style active" href="{{ x }}">Home Menu</a>
    </li>
    <li class="flex-sm-fill text-sm-center nav-item">
        <a id="flag-quiz" class="nav-link link-style" href="#">
            Flag quiz</a>
    </li>
    {% endif %}

</ul>
{% endblock %}

{% block script %}{% endblock %}